.LT5{background:#3b82f6;}
.HT5{background:#3b82f6;}
.LT4{background:#3b82f6;}
.HT4{background:#3b82f6;}
.LT3{background:#3b82f6;}
.HT3{background:#9333ea;}
.LT2{background:#22c55e;}
.HT2{background:#f97316;}
.LT1{background:#eab308;}
.HT1{background:#ef4444;}
/* ===============================
   GLOBAL
================================ */

body{
margin:0;
font-family:Inter,sans-serif;
color:white;
background:
radial-gradient(1200px at 50% -200px,
#1a2540,#0b1222 40%,#070c16 80%);
}

/* LEADERBOARD */

#leaderboard{
width:95%;
max-width:1200px;
margin:40px auto;
}

/* PLAYER CARD */

.player-card{
display:flex;
align-items:center;
justify-content:space-between;

padding:14px 20px;
margin-bottom:12px;

background:linear-gradient(90deg,#0b1324,#09101f);

border-radius:14px;
border:1px solid rgba(255,255,255,.05);

transition:.25s;
}

.player-card:hover{
background:#0f1a33;
}

/* RANK */

.rank{
font-size:34px;
font-weight:800;
width:70px;
color:#d1d5db;
}

/* LEFT */

.player-left{
display:flex;
align-items:center;
gap:18px;
flex:1;
}

.player-render{
height:64px;
image-rendering:pixelated;
}

/* TEXT */

.player-name{
font-size:18px;
font-weight:700;
}

.player-points{
font-size:14px;
color:#94a3b8;
}

/* RIGHT SIDE */

.player-right{
display:flex;
align-items:center;
gap:14px;
}

/* REGION */

.region{
padding:6px 12px;
border-radius:8px;
font-weight:700;
font-size:13px;
}

.region-na{background:#7f1d1d;}
.region-eu{background:#14532d;}
.region-as{background:#1e3a8a;}

/* TIERS */

.tiers{
display:flex;
gap:10px;
}

.tier-circle{
display:flex;
flex-direction:column;
align-items:center;
gap:3px;
}

.tier-circle img{
width:30px;
height:30px;

background:#0b1222;
border-radius:50%;
padding:6px;

border:2px solid rgba(255,215,0,.35);
box-shadow:0 0 10px rgba(255,215,0,.25);
}

.tier-circle span{
font-size:11px;
color:#f5c84c;
font-weight:700;
}

/* TOP 3 COLORS */

.player-card:nth-child(1) .rank{color:gold;}
.player-card:nth-child(2) .rank{color:silver;}
.player-card:nth-child(3) .rank{color:#cd7f32;}
