body{
    background:#0f0f14;
    color:white;
    font-family:Arial;
    text-align:center;
}

.player{
    background:#1b1b25;
    margin:10px auto;
    padding:15px;
    width:600px;
    border-radius:12px;
    display:flex;
    align-items:center;
    gap:15px;
}

.player img{
    width:70px;
    border-radius:8px;
}

.rank{
    font-size:20px;
    font-weight:bold;
}
